<ion-content [fullscreen]="true">


  <div class="content-container">
    <div *ngIf="!artistInfo" id="container">
      <ion-card>
        <ion-card-content>
          <ion-input [(ngModel)]="searchQuery" placeholder="Zadejte jméno umělce"
            (keydown.enter)="searchArtist()"></ion-input>
          <ion-button (click)="searchArtist()" expand="full">
            <ion-icon name="search"></ion-icon>
            Vyhledat
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="showTopArtists">
      <div *ngIf="topArtists.length > 0" class="top-artists">
        <div class="top-section-similar-artists">
          <div class="section-container">
            <h2>Nejúspěšnější umělci</h2>
            <ion-list>
              <ion-item *ngFor="let artist of topArtists">
                <a [href]="getArtistUrl(artist)">
                  <ion-label>{{ artist.name }}</ion-label>
                </a>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="showTopTracks">
      <div class="top-section-overall-tracks">
        <div class="section-container">
          <h2>Nejúspěšnější písničky</h2>
          <ion-list>
            <ion-item *ngFor="let track of overallTopTracks">
              <ion-label>
                {{track.name}}
                <a href="getArtistUrl(track.artist)">
                  <ion-label>
                    <p>{{track.artist.name}}</p>
                  </ion-label>
                </a>
              </ion-label>
            </ion-item>
          </ion-list>

        </div>
      </div>

    </div>


    <!--
  <div *ngIf="overallTopTracks.length > 0" class="top-tracks">
    <div class="top-section-overall-tracks">
      <div class="section-container">
        <h2>Nejlepší písničky</h2>
        <ion-list>
          <ion-item *ngFor="let track of overallTopTracks">
            <ion-label>
              {{ track.name }}
              <a [href]="getArtistUrl(track.artist)">
                <ion-label>
                  <p>{{ track.artist.name }}</p>
                </ion-label>
              </a>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
-->




    <div *ngIf="artistInfo" class="artist-container">
      <div class="top-section">
        <div class="artist-name-rectangle">
          <h2 class="artist-name-bio">{{ artistInfo.name }}</h2>
        </div>
      </div>

      <div class="top-section">
        <ion-item button (click)="toggleBio()" class="bio-button">
          <ion-label>
            <h3>Bio:</h3>
          </ion-label>
          <ion-icon [name]="bioExpanded ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
        </ion-item>
      </div>

      <div class="bio-container" *ngIf="bioExpanded">
        <ion-card>
          <ion-card-content>
            <p [innerHTML]="artistInfo.bio.summary"></p>
          </ion-card-content>
        </ion-card>

        <ion-button (click)="clearResults()">Zpět na vyhledávání</ion-button>
      </div>


      <ion-row class="top-section">

        <ion-col *ngIf="topTracks && topTracks.length > 0" size="12" size-md="6" size-lg="4">
          <div class="section-container">
            <h3>Nejznámější písničky:</h3>
            <ion-list>
              <ion-item *ngFor="let track of topTracks">
                <ion-label>{{ track.name }}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>


        <ion-col *ngIf="topAlbums && topAlbums.length > 0" size="12" size-md="6" size-lg="4">
          <div class="section-container">
            <h3>Nejlepší alba:</h3>
            <ion-list>
              <ion-item *ngFor="let album of topAlbums">
                <!-- Zobrazte obrázek alba pomocí ion-avatar -->
                <ion-avatar slot="start">
                  <img [src]="album.image[2]['#text']" alt="Album Image">
                </ion-avatar>
                <ion-label>{{ album.name }}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="top-section">

        <ion-col *ngIf="artistTags && artistTags.length > 0" size="12" size-md="6" size-lg="4">
          <div class="top-section-similar-artists">
            <div class="section-container">
              <h3>Nejčastější tagy:</h3>
              <ion-list>
                <ion-item *ngFor="let tag of artistTags">
                  <!-- Zobrazte text tagu bez obrázku -->
                  <ion-label>{{ tag.name }}</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-col>

        <ion-col *ngIf="similarArtists && similarArtists.length > 0" size="12" size-md="6" size-lg="4">
          <div class="top-section-similar-artists">
            <div class="section-container">
              <h3>Podobní umělci:</h3>
              <ion-list>
                <ion-item *ngFor="let artist of similarArtists">
                  <!-- Použijte ion-anchor pro vytvoření odkazu na podobného umělce -->
                  <a [href]="getArtistUrl(artist)">
                    <ion-label>{{ artist.name }}</ion-label>
                  </a>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-col>


      </ion-row>



      <div *ngIf="playcount > 0 || listeners > 0">
        <h3>Statistiky:</h3>
        <p>Playcount: {{ playcount | number }}</p>
        <p>Posluchači: {{ listeners | number }}</p>
      </div>


      <ion-button (click)="clearResults()">Zpět na vyhledávání</ion-button>
    </div>
  </div>
</ion-content>